/*start signin & signup*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Crimson Text', serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #42445A;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.log {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login,
.create {
  width: 100px;
  font-size: 20px;
}

.lc {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #42445A;
}

.createnow {
  display: none;
}

.alertin {
  text-align: center;
  display: none;
}

.alertup1 {
  text-align: center;
  display: none;
}

.alertup2 {
  text-align: center;
  display: none;
}

/*end signin & signup*/
/* start chat */
.containe {
  width: 100%;
  height: 100vh;
  background: #42445A;
  display: none;
}

.contnav {
  width: 100%;
  height: 6vh;
}

.control {
  width: 100%;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 25px;
}

.txt {
  width: 95%;
  height: 90vh;
}

.msg1 {
  width: fit-content;
  max-width: 250px;
  background: #2D37A6;
  color: white;
  border-radius: 10px;
  padding: 3px;
  font-size: 25px;
  margin-top: -16px;
}

.msg2 {
  width: fit-content;
  background: #676CAA;
  color: white;
  border-radius: 10px;
  padding: 3px;
  margin-top: -16px;
  margin-left: auto;
}

.msg {
  overflow-x: hidden;
}

.name1 {
  width: fit-content;
  background: #42445A;
  color: white;
  border-radius: 10px 10px 0 10px;
  padding: 3px;
  font-size: 10px;
}

.name2 {
  width: fit-content;
  background: #42445A;
  color: white;
  border-radius: 10px 10px 10px 0px;
  padding: 3px;
  font-size: 10px;
  margin-left: auto;
}

/* end chat */
